*~
*.lock
*.log
*.out
*.swp
*.DS_Store
*.sublime*
*.gwt
*.settings
*.classpath
*.project
.directory
/build/*
/buildSrc/build*
/extras/*
/war*
.gradle
/null*
/tmp*
/target/*
WEB-INF/classes/*
#*
*#*
!*.sublime-project.sample
/lib-common/buildSrc/build/

.*/
/build
node_modules/
*.log
client/src/js/data/exampleList.js

dist/*
!dist/robots.txt
